<div class="ask-page-container">

<h1>COACH EL STUPIDO</h1>

<form action="/answer">
	<label for="question"></label>
	<input type="text" id="question" name="question" placeholder="ask anything but anything">
	<input type="submit" value="ASK" id="btn">
</form>

</div>
